.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px auto 200px;
    grid-template-areas:
        'header header'
        'leftbar main'
        'footer footer';
}

.page-header {
    grid-area: header;
}

.page-header {
    grid-area: header;
}

.content {
    background-color: gold;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
}